
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    
}

body{
    background: linear-gradient(to bottom, rgba(4, 189, 189, 0.856), rgb(11, 142, 202));
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}



.daily-forecast-container{
    display: flex;
    flex-direction: column;
    background: white;
    width: 50vw;
    margin-top: 3em;
    border-radius: 2em;
    
}

.hourly{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.25em;
    
}
.daily-container{
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    background: white;
    overflow: auto;
    white-space: nowrap;
    
   
}





header{
    align-items: center;
    justify-content: center;
}

.current-container{
    background: rgba(5, 170, 170, 0.856);
    color:rgb(230, 228, 228);
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-top: 1.5em;
   
    
    
}

.right-container{
    display: block;
    position: relative;
    top: 30px;
    
    width: inherit;
}

.current-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1.75em 0 0 3em;
     
}

.current-left{
    width: 35%;
   margin: 1em;
}

.date{
    font-size: 1.5rem;
    margin: 0 0 .25em 0;
}

.units{
    margin: 0 0 1.5em 0;
}

.weekly-forecast-container{
    margin-top: 1.5em;
    width: 50vw;
    background: white;
}

.weekly-container{
    justify-items: center;
    
}
.weekly-line{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.weekly-icon{
    height: auto;
    width: auto;
   
}

.weekly-day{
    margin:1em;
    justify-content: flex-start;
}

.weekly-temp{
    margin: 1em;
}

.weekly-desc{
    margin: 1em;
    justify-content: flex-end;
}

h2{
    margin: 1.5em;
}

.weekly-icon{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.location{
    font-size: 3rem;
    margin-bottom: .25em;
}

input{
    background:rgb(1, 126, 126);
    border-style: none;
    border-radius: .5em;
    width: 260px;
    height: 25px;
    color: rgb(219, 218, 218);;
    
}

::placeholder{
    color: rgb(219, 218, 218);
    font-size: 16px;
    margin: .5em;
}

img .weekly-line{
    max-width: 100%;
    height: auto;
}

#f:hover{
    cursor: pointer;
}

#c:hover{
    cursor: pointer;
}

@media (max-width: 600px)  {
    .current-container {
        width: 85%;
    }
    .daily-forecast-container{
        width: 85%;
    }

    .weekly-forecast-container{
        width: 85%;
    }

  
  }

@media (max-width: 800px){
    .current-container{
        width: 90%;
    }
    .daily-forecast-container{
        width: 90%;
    }

    .weekly-forecast-container{
        width: 90%;
    }
}

@media (max-width: 450px){
    .right-container{
        top: 89px;
        
    }

    .current-right{
        margin-left: .2em;
    }

    .weekly-line{
        width: fit-content;
        font-size: .9rem;

    }
    .weekly-day{
        margin: .50em;
    }

    .weekly-desc{
        margin: .15em;
    }

    img .weekly-line{
        max-width: 50%;
        height: auto;
    }

}

@media (max-width: 321px ) {
    .current-container {
        width: 85%;
    }
    .daily-forecast-container{
        width: 85%;
    }

    .weekly-forecast-container{
        width: 85%;
    }

    .location{
        font-size: 2rem;
    }

    .weekly-line{
        font-size: .7rem;
    }

    .weekly-line > img{
        width: 15%;
        height: auto;
    }

    .weekly-desc{

    }
}

@media (max-width: 1050px) and (min-width: 1000px){
    .current-container{
        width: 90%;
    }
    .daily-forecast-container{
        width: 90%;
    }

    .weekly-forecast-container{
        width: 90%;
    }

    *{
        font-size: 1.45rem;
    }

    h2, .location{
        font-size: 3rem;
    }

    h1{
        font-size: 3.5rem;
    }

    body{
        justify-content: center;
        align-content: center;
    }

    input{
        width: 60%;
        height: 1.25em;
        margin-left: 120px;
    }
}